*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{  
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(163, 201, 163);
}

#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop{
    width: 100%;   
    height: 100px;
    background-color: rgb(82, 136, 82);
}